<div class="col-xs-12 col-md-4">
    <a class="well clearfix block" href="<%= item.target %>">
        <div class="col-xs-6 col-md-12">
            <div>
                <img class="img-responsive"
                     src="<%= item.map %>"
                     alt="<%= item.name %>">
            </div>
        </div>
        <div class="col-xs-6 col-md-12">
            <p class="text-center"><%= item.name %></p>
        </div>
    </a>
</div>