<div class="col-xs-12">
    <div class="well clearfix block">
        <div class="col-xs-12 col-md-6">
            <div>
                <img class="img-responsive"
                     src="<%= item.flag %>"
                     alt="<%= item.name %>">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="text-center"><%= item.description %></p>
        </div>
    </div>
</div>